html {
    background: url('http://wes.io/hx9M/oh-la-la.jpg') center no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: Futura,"Trebuchet MS",Arial,sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

svg {
    fill: white;
    border-radius: 50%;
    margin-bottom: 50px;
    background: rgba(0, 0, 0, .1);
    padding: 20px;
    width: 150px;
}

.wrapper {
    background: rgba(255, 255, 255, .90);
    padding: 20px;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
}

.wrapper h2 {
    text-align: center;
    margin-top: 0;
    font-weight: 200;
    text-transform: uppercase;
}

.plates {
    margin-left: 0;
    padding-left: 0;
}

.plates li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid rgb(218, 218, 218);
    display: flex;
}

.delete-button {
    margin: 0 0 0 auto;
}

.plates input {
    display: none;
}

input:checked + label:before {
    content: '🌮'
}

input + label:before {
    content: '⬜️';
    margin: 5px;
}

.add-items input{
    border: 1px solid rgba(0,0,0,.3);
    padding: 10px;
}